VisualElement {
}

.col-primary {
    background-color: rgb(204, 201, 192);
    border-width: 5px;
    border-top-color: rgb(223, 221, 214);
    border-right-color: rgb(166, 163, 153);
    border-left-color: rgb(223, 221, 214);
    border-bottom-color: rgb(166, 163, 153);
}

.col-accent {
    background-color: rgb(38, 121, 255);
    border-width: 5px;
    border-top-color: rgb(117, 170, 254);
    border-left-color: rgb(118, 170, 255);
    border-right-color: rgb(24, 93, 204);
    border-bottom-color: rgb(25, 94, 205);
}

.col-text-header {
    color: white;
}

.col-text-body {
    color: #070307;
}