VisualElement {
}

.frame-container {
    padding: 5px;
}

.frame-header {
    padding: 5px;
}

.frame-body {
    padding: 5px;
}

.frame-footer {
    padding: 5px;
}

.frame-header-text {
    font-size: 24px;
    -unity-text-align: middle-left;
    -unity-font-style: bold;
    padding: 0;
    margin: 0;
}