.background {
    /*-- fill --*/
    background-color: rgb(191, 187, 174);

    /*-- spacing and size --*/
    padding: 5px;
    margin: 5px;
    flex-grow: 1;
}

.header {
    /*-- fill --*/
    background-color: rgb(145, 99, 236);

    /*-- spacing and size --*/
    padding: 5px;
    margin: 5px;
}

.body {
    /*-- fill --*/
    background-color: rgb(234, 216, 184);

    /*-- spacing and size --*/
    padding: 5px;
    margin: 5px;
    flex-grow: 1;
}

.footer {
    /*-- fill --*/
    background-color: rgb(186, 180, 144);

    /*-- spacing and size --*/
    padding: 5px;
    margin: 5px;
}