.panel {
    background-color: rgb(204, 201, 192);
    border-width: 5px;
    border-top-color: rgb(223, 221, 214);
    border-right-color: rgb(166, 163, 153);
    border-left-color: rgb(223, 221, 214);
    border-bottom-color: rgb(166, 163, 153);
    padding: 5px;
    flex-grow: 1;
}

.body {
    padding: 5px;
    background-color: rgb(240, 239, 234);
    border-width: 5px;
    border-top-color: rgb(250, 249, 245);
    border-right-color: rgb(208, 207, 204);
    border-left-color: rgb(250, 249, 245);
    border-bottom-color: rgb(208, 207, 204);
    flex-grow: 1;
}

.panel-selected {
    padding: 5px;
    border-width: 5px;
    flex-grow: 1;
    /* fill */
    background-color: rgb(162, 237, 123);
    /* border light */
    border-top-color: rgb(202, 255, 176);
    border-left-color: rgb(202, 255, 176);
    /* border dark */
    border-right-color: rgb(123, 181, 94);
    border-bottom-color: rgb(123, 181, 94);
}

.footer {
    padding: 5px;
    background-color: rgb(240, 239, 234);
    border-width: 5px;
    border-top-color: rgb(250, 249, 245);
    border-right-color: rgb(208, 207, 204);
    border-left-color: rgb(250, 249, 245);
    border-bottom-color: rgb(208, 207, 204);
}

.header {
    padding: 5px;
    background-color: rgb(38, 121, 255);
    border-width: 5px;
    border-top-color: rgb(117, 170, 254);
    border-left-color: rgb(118, 170, 255);
    border-right-color: rgb(24, 93, 204);
    border-bottom-color: rgb(25, 94, 205);
}

.header-text {
    font-size: 24px;
    color: white;
    -unity-text-align: middle-left;
    -unity-font-style: bold;
    padding: 0;
    margin: 0;
}

.footer-text {
    font-size: 24px;
    color: black;
    -unity-text-align: middle-left;
    padding: 0;
    margin: 0;
}

.body-text {
    font-size: 24px;
    color: black;
    -unity-text-align: middle-left;
    padding: 0;
    margin: 0;
}
