VisualElement {
}

.frame-container {
    margin: 0;
}

.window-root {
    background-color: rgb(204, 201, 192);
    border-width: 5px;
    border-top-color: rgb(223, 221, 214);
    border-right-color: rgb(166, 163, 153);
    border-left-color: rgb(223, 221, 214);
    border-bottom-color: rgb(166, 163, 153);
    padding: 0;
}

.frame {
    background-color: rgb(240, 239, 234);
    border-width: 5px;
    border-top-color: rgb(250, 249, 245);
    border-right-color: rgb(208, 207, 204);
    border-left-color: rgb(250, 249, 245);
    border-bottom-color: rgb(208, 207, 204);
    padding: 0;
    flex-grow: 1;
}

.frame-header {
    background-color: rgb(38, 121, 255);
    border-width: 5px;
    border-top-color: rgb(117, 170, 254);
    border-left-color: rgb(118, 170, 255);
    border-right-color: rgb(24, 93, 204);
    border-bottom-color: rgb(25, 94, 205);
    padding: 0;
}

.frame-body {
    background-color: rgb(240, 239, 234);
    border-width: 5px;
    border-top-color: rgb(250, 249, 245);
    border-right-color: rgb(208, 207, 204);
    border-left-color: rgb(250, 249, 245);
    border-bottom-color: rgb(208, 207, 204);
    padding: 0;
    flex-grow: 1;
}

.frame-footer {
    background-color: rgb(240, 239, 234);
    border-width: 5px;
    border-top-color: rgb(250, 249, 245);
    border-right-color: rgb(208, 207, 204);
    border-left-color: rgb(250, 249, 245);
    border-bottom-color: rgb(208, 207, 204);
    padding: 0;
}

.button {
    background-color: rgb(240, 239, 234);
    border-width: 5px;
    border-top-color: rgb(250, 249, 245);
    border-right-color: rgb(208, 207, 204);
    border-left-color: rgb(250, 249, 245);
    border-bottom-color: rgb(208, 207, 204);
    flex-grow: 0;
    padding: 0;
    flex-direction: row;
}

.text-header {
    font-size: 24px;
    color: white;
    -unity-text-align: middle-left;
    -unity-font-style: bold;
    padding: 0;
    margin: 0;
}

.text-button {
    font-size: 24px;
    color: black;
    -unity-text-align: middle-left;
    padding: 0;
    margin: 0;
}

.text-footer {
    font-size: 24px;
    color: black;
    -unity-text-align: middle-left;
    padding: 0;
    margin: 0;
}