:root {
    background-color: rgb(230, 230, 230);
    align-self: flex-end;
    align-items: flex-end;
    justify-content: center;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

#Header {
    background-color: rgb(166, 136, 242);
    flex-direction: row;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    margin-top: 5px;
    margin-bottom: 5px;
}

#Navigation {
    background-color: rgb(249, 202, 202);
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
}

.node-active {
    background-color: rgb(73, 255, 7);
}