VisualElement {
}

.header {
    background-color: rgb(38, 121, 255);
    border-width: 5px;
    border-top-color: rgb(117, 170, 254);
    border-left-color: rgb(118, 170, 255);
    border-right-color: rgb(24, 93, 204);
    border-bottom-color: rgb(25, 94, 205);
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
}

.headerText {
    font-size: 24px;
    color: white;
    -unity-text-align: middle-left;
    -unity-font-style: bold;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.footer {
    background-color: rgb(240, 239, 234);
    border-width: 5px;
    border-top-color: rgb(250, 249, 245);
    border-right-color: rgb(208, 207, 204);
    border-left-color: rgb(250, 249, 245);
    border-bottom-color: rgb(208, 207, 204);
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.footerText {
    margin: 5px 10px;
    padding: 0;
    font-size: 24px;
    color: black;
    -unity-text-align: middle-left;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.body {
    background-color: rgb(240, 239, 234);
    border-width: 5px;
    border-top-color: rgb(250, 249, 245);
    border-right-color: rgb(208, 207, 204);
    border-left-color: rgb(250, 249, 245);
    border-bottom-color: rgb(208, 207, 204);
    flex-grow: 1;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.bodyElement {
    background-color: rgb(240, 239, 234);
    border-width: 5px;
    border-top-color: rgb(250, 249, 245);
    border-right-color: rgb(208, 207, 204);
    border-left-color: rgb(250, 249, 245);
    border-bottom-color: rgb(208, 207, 204);
    flex-grow: 1;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.background {
    background-color: rgb(240, 239, 234);
    border-width: 5px;
    border-top-color: rgb(250, 249, 245);
    border-right-color: rgb(208, 207, 204);
    border-left-color: rgb(250, 249, 245);
    border-bottom-color: rgb(208, 207, 204);
    flex-grow: 1;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.buttonText {
    margin: 5px 10px;
    padding: 0;
    font-size: 24px;
    color: black;
    -unity-text-align: middle-left;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.toggleInactive {
    background-color: rgb(234, 24, 61);
    border-width: 5px;
    border-top-color: rgb(250, 66, 101);
    border-right-color: rgb(170, 6, 34);
    border-left-color: rgb(250, 66, 101);
    border-bottom-color: rgb(170, 6, 34);
    flex-grow: 1;
}

.toggleActive {
    background-color: rgb(80, 246, 55);
    border-width: 5px;
    border-top-color: rgb(162, 253, 147);
    border-right-color: rgb(31, 152, 14);
    border-left-color: rgb(162, 253, 147);
    border-bottom-color: rgb(31, 152, 14);
    flex-grow: 1;
}

.bodyText {
    margin: 5px 10px;
    padding: 0;
    font-size: 24px;
    color: black;
    -unity-text-align: middle-left;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.toggle {
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
